<% if @total > 0 %>
  <% content_for :filament_width do %><%= "width: #{(@position.to_f / @total * 100).round}%" %><% end %>
<% end %>

<div class="w-full">
  <% if @card %>
    <%= render "card_form", card: @card %>
  <% else %>
    <%= render "empty_state" %>
  <% end %>
</div>
